<mat-card>
    <mat-card-title>Novo Usuário</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]="user.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sobrenome"
            [(ngModel)]="user.lastName" name="lastName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail"
            [(ngModel)]="user.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Senha"
            [(ngModel)]="user.password" name="password" type="password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data de Aniversário"
            [(ngModel)]="user.birthday" type="date" name="birthday">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateUser()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()" color="primary">
        Cancelar
    </button>

</mat-card>